.git
.github
.run
.vscode
.idea
node_modules
**/node_modules
**/dist
**/build
**/.turbo
coverage
*.log
**/*.log
.env
.env.*
**/.env
**/.env.*
uploads
apps/api/uploads
**/*.spec.ts
**/*.e2e.spec.ts
**/*.test.ts
**/*.test.tsx
apps/web/src/test
